{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "FORMS_ENDPOINT":"{ENDPOINT FORMs RECOGNIZE}",
    "KEY_FORMS":"{key}"
    "COSMOS_ACCOUNT_URL":"{COSMOSURL}",
    "COSMOSDB_LOCATION":"{location}"
    "ACCOUNT_KEY_COSMOS":"{key}"
  }
}